@model HotelwebSite.Models.Member

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2></h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <div class="container text-right w-25"style="color:#00008B;"><br /><br />
            <h4>کاربران</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                
                <div class="col-lg-12">
                    نام و نام خانوادگی
                    @Html.EditorFor(model => model.name_m, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.name_m, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
               
                <div class="col-lg-12"> نام کاربری

                    @Html.EditorFor(model => model.Username_m, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Username_m, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                  
                <div class="col-lg-12">کلمه عبور
                    @Html.EditorFor(model => model.Password_m, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password_m, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
               
                <div class="col-lg-12">ایمیل
                    @Html.EditorFor(model => model.Email_m, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email_m, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-12">
                    <input type="submit" value="ذخیره" class="btn btn-default" style="color:#00008B;background-color:#CEF7FA" />
                </div>
            </div>
           
        </div>
       
    </div>
}


